{% extends 'base.html.twig' %}

{% block title %}Hello ContactController!{% endblock %}

{% block body %}
    <div class="bg-footer">
        <div class="container footer-en-bas">
            <section class="ftco-section">
                <div class="container">
                    <h3 class="mb-4 text-center" style="color: #ffffff;margin-bottom: 10px;">Contactez moi !</h3>
                    <div class="row justify-content-center">
                        <div class="col-lg-10 col-md-12">
                            <div class="wrapper">
                                <div class="row justify-content-center">
                                    <div class="col-lg-8 mb-5">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="dbox w-100 text-center">
                                                    <div class="icon d-flex align-items-center justify-content-center">
                                                        <span class="fa fa-phone"></span>
                                                    </div>
                                                    <div class="text">
                                                        <p><span>Telephone:</span> <a href="tel:+33617022776">06 17 02 27 76</a>
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="dbox w-100 text-center">
                                                    <div class="icon d-flex align-items-center justify-content-center">
                                                        <span class="fa fa-paper-plane"></span>
                                                    </div>
                                                    <div class="text">
                                                        <p><span>Email:</span> <a href="mailto:">bjtechnodev@gmail.com</a>
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-8">
                                        <div class="contact-wrap">
                                            <div id="form-message-warning" class="mb-4 w-100 text-center"></div>
                                            <div id="form-message-success" class="mb-4 w-100 text-center">
                                                Le message a été envoyé, merci!
                                            </div>
                                            {# <form method="POST" id="contactForm" name="contactForm" class="contactForm"> #}
                                            {{ form_start(form) }}
                                            <div class="row">
                                                <div class="col-md-12">
                                                    {{ form_row(form.name) }}
                                                </div>
                                                <div class="col-md-12">
                                                    {{ form_row(form.email) }}
                                                </div>
                                                <div class="col-md-12">
                                                    {{ form_row(form.message) }}
                                                </div>
                                                <div class="col-md-12">
                                                   {{ form_row(form.submit) }}
                                                </div>
                                            </div>
                                            {{ form_end(form) }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
{% endblock %}