<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins&display=swap">

</head>
<body>

<nav>
    <a class="logo" href="{{ path('home') }}">Jérémy</a>
    <div class="nav-no-responsive">
    <ul class="nav-bar nav-no-responsive">
        <li class="nav-bar_item"><a href="{{ path('home') }}#about">A propos</a></li>
        <li class="nav-bar_item"><a href="{{ path('home') }}#service">Services</a></li>
        <li class="nav-bar_item"><a href="{{ path('contact') }}">Contact</a></li>
    </ul>
    </div>
</nav>


<div class="nav-respons" style="display: none;z-index: 99999999;">
    <input type="checkbox" id="active">
    <label for="active" class="menu-btn-resp"><i class="fas fa-bars" style="margin-top: 13px;"></i></label>
    <div class="wrapper-resp">
        <ul>
            <li><a href="{{ path('home') }}#about">A propos</a></li>
            <li><a href="{{ path('home') }}#service">Services</a></li>
            <li><a href="{{ path('contact') }}">contact</a></li>
        </ul>
    </div>
</div>


{% block body %}{% endblock %}



<footer>
    <div class="social">
        <a href="https://www.instagram.com/bjtechnodev/" target="_blank"><i class="fab fa-instagram"></i></a>
        <a href="https://twitter.com/BJTechnoDev" target="_blank"><i class="fab fa-twitter"></i></a>
        <a href="https://github.com/BJ-TechnoDev" target="_blank"><i class="fab fa-github"></i></a>
    </div>
    <p class="copyright">Developper par l'entreprise <a href="">BJ-TechnoDev</a> © 2022</p>
</footer>
{% block javascripts %}
    <script
            src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous">
    </script>
    {{ encore_entry_script_tags('app') }}
{% endblock %}

</body>
</html>